.audio-container {
  width: calc(100% - 90px);
  height: 10px;
  background: #ffd500;
  position: relative;
  margin-left: 90px;
  margin-top: 110px;
}

.audio-progress {
  width: 0px;
  height: 10px;
  background: #2d92c0;
  transition: width 0.1s linear;
}

.togglePlay {
  border: 0;
  background-image: url(../../img/section-11/play.png);
  width: 90px;
  height: 90px;
  transition: 300ms;
  background-color: transparent;
  position: absolute;
  top: -41px;
  left: -89px;
}

.togglePlay:hover {
  transform: scale(1.05);
}

.togglePlay.active {
  background-image: url(../../img/section-11/pause.png);
}

.transcricao {
  margin-top: 40px;
  width: 150px;
  transition: 300ms;
}

.transcricao:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}
