@import url(../font/franklin/fonts.css);

body {
  background-image: url(../../img/template/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "franklin gothic book";
  background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "franklin gothic";
  margin-top: 40px;
}

p {
  font-family: "franklin gothic book";
  color: #fff;
  margin-top: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 45px;
  background-image: url(../../img/template/molecula-titulo.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-left: 78px;
  padding-top: 80px;
}

p {
  font-size: 16px;
}

.bto-imprimir {
  transition: 300ms;
  position: absolute;
  top: 210px;
  right: 4vh;
}

.bto-imprimir:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.centered-title {
  text-align: center;
}

.centered-title h3 {
  display: inline-block;
  text-align: center;
}

strong {
  color: #9bd7ef;
}

.acessivel{
	width:0;
	height:0;
	padding:0;
	margin:0;
	border:0;
	font-size:0;
	overflow:hidden;
}

.paginas {
  overflow-x: hidden;
}

.section {
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}

#twelve {
  padding-bottom: 500px;
}

.container {
  max-width: 100%;
  width: 960px;
}

.responsive {
  max-width: 100%;
}

.box {
  border: 3px solid #9fd6f2;
  padding: 32px;
  position: relative;
  padding-left: 67px;
  margin-top: 66px;
}

.box p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.box img.icon{
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
  width: 100px;
}

.box.radius {
  border-radius: 20px;
}

/* table */
table.sesc{   
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  font-size: 16px;
}

table.sesc td,  table.sesc th{   
  border: 2px solid #fff;
  padding: 10px;    
  border-collapse: collapse;
}
table.sesc td{
   background-color: #F2F2F2;
   color: #333;
}
table.sesc th {
   color: white;
   background-color: #2c91bf;
   font-weight: normal;
}
/* table */


/* lista */
ul.template {
  list-style-type: none;
  color: #fff;
  font-size: 16px;
  padding-left: 0;
  padding: 20px;
}

ul.template li{
  background-image: url(../../img/template/marcador.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 29px;
}
/* lista */

figure {
  text-align: center;
}

#open-main-menu {
  position: fixed;
  top: 214px;
  left: 14px;
  transition: 300ms;
  border-radius: 50px;
}

#open-main-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#close-main-menu  {
  position: fixed;
  top: 20px;
  left: 420px;
  transition: 300ms;
  border-radius: 50px;
}

#close-main-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
/* navbar lateral */
nav.main-menu {
  position: fixed;
  display: flex;
  z-index: 99;
  padding: 10px;
  background-image: url(../../img/template/fundo-menu.png);
  background-position: top left;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  padding-left: 2vw;
  padding-top: 2vw;
  transition: 500ms ease-in-out !important;
  opacity: 0;
  left: -100%;
}

nav.main-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 0;
}

nav.main-menu ul li {
  list-style-type: none;
  display: flex;
}

nav.main-menu ul li span.menu {
  width: 19px;
  height: 18px;
  background-image: url(../../img/a-menu-hover.png);
  background-position: left top;
  margin-top: 7px;
}

nav.main-menu a {
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: "franklin gothic";
  text-transform: uppercase;
  background-repeat: no-repeat;
  font-size: 18px;
  text-decoration: none;
  margin-left: 5px;
  transition: 400ms;
}

nav.main-menu a:hover {
  transform: translate(-10px);
  color: #9fd6f2;
}

nav.main-menu a:hover::before {
  background-position: top 31px left;
}

nav.main-menu a.active::after {
  content: "";
  height: 53px;
  width: 40px;
  background-image: url(../../img/template/molecula-menu.png);
  position: absolute;
  margin-top: -4px;
}

nav.main-menu a.active {
  color: #9fd6f2;
}
/* navbar lateral */


/* gaitinha */
.accordion {
  margin-top: 60px;
}

.accordion-header {
  margin-top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.accordion-button {
  color: #ffffff;
  background-color: #2c91bf;
  width: 400px;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;
  max-width: 100%;
  transition: 300ms;
  text-align: center;
  justify-content: center;
  font-family: "franklin gothic medium";
}

.accordion-button:hover {
  background-color: #ffd500;
}

.accordion-button:focus, .accordion-button:not(.collapsed):hover {
  background-color: #ffd500;
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
  background-color: #2c91bf;
  text-align: center;
}

.accordion-button:not(.collapsed)::after, .accordion-button::after {
  display: none;
  color: #fff;
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
  color: #fff;
  text-align: center;
}

.accordion-button:focus {
  box-shadow: none;
  border: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 30px;
}

.accordion-item {
  background-color: transparent;
}

.accordion-item {
  border: 0;
}

.accordion-body {
  border: 3px solid #9bd7ef;
  border-radius: 20px;
  padding-top: 50px;
  margin-top: -30px;
  color: #fff
}
/* gaitinha */

/* tab */
.template-tabs {
  margin-top: 60px;
}
.tab-pane {
  border: 4px solid #2c91bf;
  background-color: #fff;
  padding: 20px;
}

.nav-tabs {
  border-bottom: 0;
}

.tab-pane p, .tab-pane ul {
  color: #333;
  font-size: 16px;
}

.nav-tabs .nav-link {
  background-color: #5b98b5;
  color: #fff;
  width: 200px;
  font-size: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #2c91bf;
  border-color: #2c91bf;
  color: #fff;
}
/* tab */

/* section 1 */
.course-title {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 300px;
}


.course-title .img-01, .course-title .img-02, .course-title .img-03, .course-title .img-04, .course-title .img-05{
  width: 200px;
  position: absolute;
}

.img-01 {
  left: 0;
  top: 0;
  animation: Rotate1 40s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-05 {
  top: 20px;
  right: 0;
  animation: Rotate3 40s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-03 {
  top: 40px;
  left: 216px;
  animation: Rotate2 40s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-02 {
  right: 119px;
  top: 134px;
}

.img-04 {
  left: 123px;
  top: 100px;
}

.molecula-1 {
  animation: Rotate 80s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-top: 50px;
}

.section.one .molecula-2 {
  position: absolute;
  top: 50%;
  right: -45%;
  animation: MoveUpDown 10s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* section 1 */

/* section 2 */
.cell-panel {
  position: relative;
  margin-top: 100px;
}

#panel-modal {
  border: 4px solid #004f53;
  background-color: #ffffff;
  padding: 30px;
  color: #004f53;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 300px;
}

#panel-modal p b {
  color: #004f53;
}

#panel-modal p {
  color: #333;
}

#panel-modal p:first-child {
  margin-top: 0;
}

.section#two .molecula {
  position: absolute;
  top: 50%;
  left: -45%;
  animation: MoveUpDown 10s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}
/* section 2 */

/* section 3 */
.molucula-section-3 {
  position: absolute;
  top: 50%;
  right: -46%;
  animation: Section3Molucula 10s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.circle {
  position: absolute;
  left: -69%;
  top: 50%;
  height: 300px;
  opacity: 50%;
  animation: Rotate 60s linear infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* section 3 */

/* section 4 */
div.clicavel {
  margin-top: 60px;
}

div.clicavel img.clicavel {
  transition: 400ms;
  width: 69%;
}

div.clicavel img.clicavel:hover {
  transform: scale(1.1);
  opacity: 0.7;
  transform: translateY(-20px);
  cursor: pointer;
}
/* section 4 */

/* section 6 */

.cell-card {
  background: linear-gradient(to right, #81c1dd, #2f7fa3);
  width: 100%;
  padding: 30px;
  border-radius: 40px;
}

.dolly {
  width: 200px;
  margin-top: 20px;
}

.video {
  text-align: center;
  margin-top: 40px;
}

.video iframe {
  border: 2px solid #81c1dd;
  max-width: 100%;
  width: 560px;
  height: 315px;
}
/* animações */

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    top: 40%
  }
}

@keyframes moveMenu {
  0%, 100% {
    width: 60px;
  }
  50% {
    width: 70px;
  }
}

@keyframes Section3Molucula {
  0%, 100% {
    bottom: 0;
  }
  50% {
    top: 40%
  }
}


@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes Rotate1 {
  0%, 100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes Rotate2 {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

@keyframes Rotate3 {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}


.cell-mobile {
  display: none;
}

.lab-mobile {
  display: none;
}

.lab-mobile figure img {
  width: 300px;
  max-width: 90%;
}

.infografico-desk {
  margin-top: 100px;
}

.infografico-mobi {
  display: none;
}

@media only screen and (max-width: 620px) {
  .infografico-desk {
    display: none;
  }
  #close-main-menu {
    width: 50px;
    top: 20px;
    right: 20px;
    left: unset;
  }
  .infografico-mobi {
    display: block;
    margin-top: 100px;
  }
}

.title-static {
  display: none;
}


@media only screen and (max-width: 720px) {
  .course-title .img-01, .course-title .img-02, .course-title .img-03, .course-title .img-04, .course-title .img-05{
    width: 20%;
    position: absolute;
  }
  .bto-imprimir {
    display: none;
  }
}


@media only screen and (max-height: 620px) {
  .main-menu {
    background-color: red;
  }
}

@media only screen and (max-width: 520px) {
  h3 {
    font-size: 30px;
    background-image: url(../../img/template/molecula-titulo.png);
    background-position: top 20px left;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-top: 80px;
    background-size: 50px;
  }
}



@media only screen and (max-width: 1000px) {
  
  .course-title {
    width: 90%;
    text-align: center;
    height: unset;
  }

  .title-static {
    display: inline-block;
    max-width: 100%;
  }
/*  */
.course-title .img-01, .course-title .img-02, .course-title .img-03, .course-title .img-04, .course-title .img-05{
  display: none;
}


/*  */

}


@media only screen and (max-width: 1400px) {
  nav.main-menu a.active::after {
    display: none;
  }
  nav.main-menu a {
    font-size: 16px;
  }
  nav.main-menu ul {
    gap: unset;
    justify-content: space-between;
  }
  #open-main-menu {
    top: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  #open-main-menu {
    width: 50px;
    top: 120px;
    left: 20px;
  }
  .lab-mobile {
    display: block;
  }
  .lab-btn-container {
    display: none;
  }
  .box {
    padding: 40px;
    padding-left: 40px;
    margin-top: 100px;
  }
  .box img.icon {
    position: absolute;
    position: absolute;
    left: 50%;
    top: -63px;
    transform: translate(-50%);
    width: 90px;
  }

  .cell-panel {
    display: none;
  
  }

  .cell-mobile {
    display: block;
  }
  .centered-title h3 {
    text-align: left;
  }
  .cell-card {
    margin-top: 40px;
  }

  .nav-tabs .nav-link {
    width: 168px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  #open-main-menu {
    width: 50px;
    top: 100px;
    left: 20px;
  }
}


@media only screen and (max-width: 800px) {
  #open-main-menu {
    width: 50px;
    top: 70px;
    left: 15px;
  }
}


@media only screen and (max-width: 500px) {
  #open-main-menu {
    width: 50px;
    top: 50px;
    left: 15px;
  }
}
